appnope
audioread
backports-abc
backports.shutil-get-terminal-size
backports.ssl-match-hostname
backports.weakref
bleach
bokeh
certifi
configparser
cycler
Cython
decorator
entrypoints
enum34
funcsigs
functools32
future
futures
html5lib
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
librosa>=0.7.2
llvmlite
magenta
Markdown
MarkupSafe
matplotlib>=3.2.1
mido
mir-eval
mistune
mock
nbconvert
nbformat
networkx
notebook
numba
numpy>=1.18.4
olefile
pandas
pandocfilters
pathlib2
pbr
pexpect
pickleshare
Pillow
pretty-midi
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
python-rtmidi
python-speech-features
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
resampy
scandir
scikit-image>=0.16.2
scikit-learn>=0.22.2.post1
scikits.samplerate
scipy>=1.4.1
Shapely>=1.7.0
simplegeneric
singledispatch
six
sortedcontainers
subprocess32
tensorflow
tensorflow-tensorboard
terminado
testpath
tornado
tqdm>=4.46.0
traitlets
umap-learn
wcwidth
Werkzeug
widgetsnbextension
umap>=0.1.1
sklearn>=0.0